# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Temporary / scripts
make_shortcut.vbs

# IDE and OS files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
